
@font-face {
    font-family: 'Ampersand';
    src: local('Times New Roman');
    unicode-range: U+26;
  }
  

body {

    font-family: monospace;



}

ul {
        font-family: Helvetica;
}

li{
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}

 #demo {
    background: #CE5937;
    background: -moz-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
    background: linear-gradient(to right, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
        }

.light-theme{
    color: black;
}